<div class="side-menu">
  <div class="padded">
    <a href="#"><button id="close-button" class="close pull-right">&times;</button></a>
 	</div>
 	<div id="asylum">
	  	<h1>Asielnaam</h1>  
        <h3>Contactgegevens</h3>
        <address>
            Leidseplein 43<br />
            2381 SF Amsterdam <br />
            Telefoon: 020-12345678 <br />
            <a href="mailto:#">example@example.com</a>
        </address>
        <h3>Openingstijden</h3>
        <table class="table table-condensed table-striped">
            <tr>
                <td>ma:</td>
                <td>09:00 - 17:00</td>
                <td>vrij:</td>
                <td>09:00 - 17:00</td>
            </tr>
            <tr>
                <td>di:</td>
                <td>09:00 - 17:00</td>
                <td>za:</td>
                <td>09:00 - 17:00</td>
            </tr>
            <tr>
                <td>wo:</td>
                <td>09:00 - 17:00</td>
                <td>zo:</td>
                <td>09:00 - 17:00</td>
            </tr>
            <tr>
                <td>do:</td>
                <td>09:00 - 17:00</td>
                <td></td>
                <td></td>
            </tr>
        </table>

        <h1>Gevonden huisdieren</h1>

        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="img/holder.png">
            </a>
            <div class="media-body">
                <h4 class="media-heading">Plaatsing 1</h4>
                <p>Geplaatst op: 5 mei 2013</p>
            </div>
        </div>
                
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="img/holder.png">
            </a>
            <div class="media-body">
                <h4 class="media-heading">Plaatsing 1</h4>
                <p>Geplaatst op: 5 mei 2013</p>
            </div>
        </div>

        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="img/holder.png">
            </a>
            <div class="media-body">
                <h4 class="media-heading">Plaatsing 1</h4>
                <p>Geplaatst op: 5 mei 2013</p>
            </div>
        </div>

        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="img/holder.png">
            </a>
            <div class="media-body">
                <h4 class="media-heading">Plaatsing 1</h4>
                <p>Geplaatst op: 5 mei 2013</p>
            </div>
        </div>

        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="img/holder.png">
            </a>
            <div class="media-body">
                <h4 class="media-heading">Plaatsing 1</h4>
                <p>Geplaatst op: 5 mei 2013</p>
            </div>
        </div>

        <button class="btn btn-primary btn-send-message" bs-modal="'./views/modals/verstuurBericht.html'">Bericht Sturen</button>
	</div>
</div>