<div class="side-menu">
    <div class="padded">

        <div id="header-user">
        	<h1>Gebruikersnaam</h1>
    	</div>
        <div id="placements">
        	<h2>Mijn plaatsingen</h2>
        	<div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="img/holder.png">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Plaatsing Titel 1</h4>
                    <button class="btn btn-mini">Verwijderen</button>
                    <button class="btn btn-mini">Wijzigen</button>
                    <buttonclass class="btn btn-mini btn-success">Opgelost</button>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="img/holder.png">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Plaatsing Titel 1</h4>
                    <button class="btn btn-mini">Verwijderen</button>
                    <button class="btn btn-mini">Wijzigen</button>
                    <buttonclass class="btn btn-mini btn-success">Opgelost</button>
                </div>
            </div>
        </div>        
        <div id="recieved-messages">
        	<h2>Mijn ontvangen berichten</h2>
    		<div class="well well-small">
    			<blockquote>
                    <h5>Jan de Vries</h5>
                    <p>Ik denk dat ik je kat vandaag gezien heb.</p>
                    <small>5 mei 2013</small>
                </blockquote>
                <button class="btn btn-mini">Beantwoorden</button>
    		</div>
        
        
            <div class="well well-small">
                <blockquote>
                    <h5>Jan de Vries</h5>
                    <p>Ik denk dat ik je kat vandaag gezien heb.</p>
                    <small>5 mei 2013</small>
                </blockquote>
                <button class="btn btn-mini">Beantwoorden</button>
            </div>
        </div>

        <div id="change-account">
            <a href="#">Wijzing account gegevens</a>
        </div>

    </div>
</div>