<div class="side-menu">
	<div class="padded">
		<a href="#"><button class="close pull-right">&times;</button></a>
		
		<div class="register-asylum-header">
			<h1>Registreren Opvang</h1>
		</div>

		<div class="register-asylum-body">
			<h3>Plaat Pin</h3>
			<h3>Contactgegevens</h3>

			<form class="form-horizontal">  
        		<div class="control-group">
            		<label class="control-label" for="inputAsylumName">Opvangcentrum naam:</label>
            		<div class="controls">
                		<input class="input-medium" type="text" id="inputAsylumName" placeholder="">
            		</div>
        		</div>
        		<div class="control-group">
            		<label class="control-label" for="inputAdres">Adres:</label>
            		<div class="controls">
                		<input class="input-medium" type="text" id="inputAdres" placeholder="">
            		</div>
        		</div>
        		<div class="control-group">
            		<label class="control-label" for="inputPhone">Telefoon:</label>
            		<div class="controls">
                		<input class="input-medium" type="text" id="inputPhone" placeholder="">
            		</div>
        		</div>
        		<div class="control-group">
            		<label class="control-label" for="inputE-mail">E-mail:</label>
            		<div class="controls">
                		<input class="input-medium" type="text" id="inputE-mail" placeholder="">
            		</div>
        		</div>
        	</form>

        	<h3>Account</h3>

        	<form class="form-horizontal">  
        		<div class="control-group">
            		<label class="control-label" for="inputUserName">Gebruikersnaam:</label>
            		<div class="controls">
                		<input class="input-medium" type="text" id="inputUserName" placeholder="">
            		</div>
        		</div>
        		<div class="control-group">
            		<label class="control-label" for="inputPassword">Wachtwoord:</label>
            		<div class="controls">
                		<input class="input-medium" type="text" id="inputPassword" placeholder="">
            		</div>
        		</div>
        		<div class="control-group">
            		<label class="control-label" for="inputRepeatPassword">Herhaal wachtwoord:</label>
            		<div class="controls">
                		<input class="input-medium" type="text" id="inputRepeatPassword" placeholder="">
            		</div>
        		</div>
        		<div class="control-group">
            		<label class="control-label" for="inputE-mail">E-mail:</label>
            		<div class="controls">
                		<input class="input-medium" type="text" id="inputE-mail" placeholder="">
            		</div>
        		</div>
        		<div class="control-group">
            		<label class="control-label" for="inputRepeatE-mail">Herhaal e-mail:</label>
            		<div class="controls">
                		<input class="input-medium" type="text" id="inputRepeatE-mail" placeholder="">
            		</div>
        		</div>
        	</form>
			
        </div>

        <div class="register-asylum-footer pull-right">
        	<button class="btn">Annuleren</button>
        	<button class="btn btn-primary">Registreer Nu!</button>
        </div>

	</div>
</div>