<div class="side-menu">
	<div class="padded">
		<a href="#"><button class="close pull-right">&times;</button></a>
		<div class="search-header">
			<h1>Zoeken</h1>
		</div>
		<div class="search-body">
			<h3>Regio</h3>
			<label>Stad, Adres, Plaats</label>
			<input type="text">
			<label>Radius</label>
			<input type="text">
			<h3>Kenmerken</h3>

			<div class="characteristic-form">	
	    		<label class="label-characterictic-form">Kenmerk</label>
	    		<div class="select-characterictic-form">
		      		<select class="input-medium">
		      			<option>Blabla</option>
		      			<option>Blabla</option>
		      			<option>Blabla</option>
		      			<option>Blabla</option>
		      		</select>
	    		</div>
			</div>
			<div class="characteristic-form">	
	    		<label class="label-characterictic-form">Kenmerk</label>
	    		<div class="select-characterictic-form">
		      		<select class="input-medium">
		      			<option>Blabla</option>
		      			<option>Blabla</option>
		      			<option>Blabla</option>
		      			<option>Blabla</option>
		      		</select>
	    		</div>
			</div>
			<div class="characteristic-form">	
	    		<label class="label-characterictic-form">Kenmerk</label>
	    		<div class="select-characterictic-form">
		      		<select class="input-medium">
		      			<option>Blabla</option>
		      			<option>Blabla</option>
		      			<option>Blabla</option>
		      			<option>Blabla</option>
		      		</select>
	    		</div>
			</div>
			<div class="characteristic-form">	
	    		<label class="label-characterictic-form">Kenmerk</label>
	    		<div class="select-characterictic-form">
		      		<select class="input-medium">
		      			<option>Blabla</option>
		      			<option>Blabla</option>
		      			<option>Blabla</option>
		      			<option>Blabla</option>
		      		</select>
	    		</div>
			</div>

			<button class="btn btn-primary btn-search">Zoek Nu!</button>

			<h3>Zoek Resultaten</h3>
			<div class="media">
            	<a class="pull-left" href="#">
                	<img class="media-object" src="img/holder.png">
            	</a>
            	<div class="media-body">
                	<h4 class="media-heading">Plaatsing 1</h4>
                	<p>Geplaatst op: 5 mei 2013</p>
            	</div>
        	</div>
        	<div class="media">
            	<a class="pull-left" href="#">
                	<img class="media-object" src="img/holder.png">
            	</a>
            	<div class="media-body">
                	<h4 class="media-heading">Plaatsing 1</h4>
                	<p>Geplaatst op: 5 mei 2013</p>
            	</div>
        	</div>


		</div>

	</div>
</div>