<div class="side-menu">
  <div class="padded">
    <a href="#"><button id="close-button" class="close pull-right">&times;</button></a>
 	</div>
 	<div id="missing">
 		<div class="clearfix" id="missing-header">
		  	<h1>Vermist</h1>
		  	<div class="pull-right" id="div-button-spam">
		  		<button class="btn btn-mini btn-danger" id="button-spam">Niet OK</button>
		  	</div>
	  	</div> 
		<h2>NAAM HUISDIER</h2>
		<div  id="img-missing">
		</div>
		<h3>Beschrijving</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pretium ligula non leo elementum non interdum risus posuere. Sed mattis, dui eu cursus egestas, nisi lectus facilisis nulla, et tincidunt lacus enim sit amet eros. Maecenas ultrices pretium mollis. Cras at tortor a leo viverra porta quis ac risus. Suspendisse justo lorem, fermentum a porttitor sed, dapibus ac magna. Donec viverra euismod nunc, eu pulvinar eros lobortis et. Pellentesque ultrices eleifend pellentesque. </p>
		<h3>Kenmerken</h3>
		<table class="table table-condensed table-striped">
		    <tr>
		        <td>Kenmerk 1</td>
		        <td>Blabla</td>
		        <td></td>
		        <td>Kenmerk 5</td>
		        <td>Blabla</td>
		    </tr>
		    <tr>
		        <td>Kenmerk 2</td>
		        <td>Blabla</td>
		        <td></td>
		        <td>Kenmerk 6</td>
		        <td>Blabla</td>
		    </tr>
		    <tr>
		        <td>Kenmerk 3</td>
		        <td>Blabla</td>
		        <td></td>
		        <td>Kenmerk 7</td>
		        <td>Blabla</td>
		    </tr>
		    <tr>
		        <td>Kenmerk 4</td>
		        <td>Blabla</td>
		        <td></td>
		        <td>Kenmerk 8</td>
		        <td>Blabla</td>
		    </tr>
		</table>
		<button class="btn btn-primary btn-send-message" bs-modal="'./views/modals/verstuurBericht.html'">Bericht Sturen</button>
	</div>
</div>