<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="pull-left">Plaatsingsnaam</h3>
    <select class="input-medium">
	    <option>Vermist</option>
	    <option>Gevonden</option>
    </select>
</div>

<div class="modal-body">
	<div class="pull-left">
		<img class="" src="img/square_250x250.png">
	</div>
	<div id="droppable" class="ui-widget-header">
  		<img class="" src="img/square_250x250.png">
	</div>
	<h3>Omschrijving</h3>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
		labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
		laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
		voluptate velit esse cillum dolore eu fugiat nulla pariatur.
	</p>
	<h3>Kenmerken</h3>
    	<form>
    		<div class="characterictic-form">	
	    		<label class="label-characterictic-form">Kenmerk 1</label>
	    		<div class="select-characterictic-form">
		      		<select class="input-medium">
		      			<option>Blabla</option>
		      			<option>Blabla</option>
		      			<option>Blabla</option>
		      			<option>Blabla</option>
		      		</select>
	    		</div>
	    		<label class="label-characterictic-form">Kenmerk 2</label>
	    		<div class="select-characterictic-form">
		      		<select class="input-medium">
		      			<option>Blabla</option>
		      			<option>Blabla</option>
		      			<option>Blabla</option>
		      			<option>Blabla</option>
		      		</select>
	    		</div>
	    		<label class="label-characterictic-form">Kenmerk 3</label>
	    		<div class="select-characterictic-form">
		      		<select class="input-medium">
		      			<option>Blabla</option>
		      			<option>Blabla</option>
		      			<option>Blabla</option>
		      			<option>Blabla</option>
		      		</select>
	    		</div>
	    		<label class="label-characterictic-form">Kenmerk 4</label>
	    		<div class="select-characterictic-form">
		      		<select class="input-medium">
		      			<option>Blabla</option>
		      			<option>Blabla</option>
		      			<option>Blabla</option>
		      			<option>Blabla</option>
		      		</select>
	    		</div>
    		</div>
    		<div class="missing-form">	
	    		<label class="label-characterictic-form">Kenmerk 1</label>
	    		<div class="select-characterictic-form">
		      		<select class="input-medium">
		      			<option>Blabla</option>
		      			<option>Blabla</option>
		      			<option>Blabla</option>
		      			<option>Blabla</option>
		      		</select>
	    		</div>
	    		<label class="label-characterictic-form">Kenmerk 2</label>
	    		<div class="select-characterictic-form">
		      		<select class="input-medium">
		      			<option>Blabla</option>
		      			<option>Blabla</option>
		      			<option>Blabla</option>
		      			<option>Blabla</option>
		      		</select>
	    		</div>
	    		<label class="label-characterictic-form">Kenmerk 3</label>
	    		<div class="select-characterictic-form">
		      		<select class="input-medium">
		      			<option>Blabla</option>
		      			<option>Blabla</option>
		      			<option>Blabla</option>
		      			<option>Blabla</option>
		      		</select>
	    		</div>
	    		<label class="label-characterictic-form">Kenmerk 4</label>
	    		<div class="select-characterictic-form">
		      		<select class="input-medium">
		      			<option>Blabla</option>
		      			<option>Blabla</option>
		      			<option>Blabla</option>
		      			<option>Blabla</option>
		      		</select>
	    		</div>
    		</div>
    	</form>
   </div>


<div class="modal-footer">
    <button type="button" class="btn btn-danger" ng-click="hide()">Verwijderen</button>
    <button type="button" class="btn" ng-click="hide()">Annuleren</button>
    <button class="btn btn-primary" ng-click="modal.saved=true;hide()">Bewaar</button>
</div>


