<!-- navbar-->
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
     
          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          </a>
     
          <!-- Be sure to leave the brand out there if you want it shown -->
          <a class="brand" href="#">Huisdier-app</a>
     
          <!-- Everything you want hidden at 940px or less, place within here -->
          <div class="nav-collapse collapse">
            <!-- .nav, .navbar-search, .navbar-form, etc -->
            <ul class="nav">
              <li><a href="" bs-modal="'./views/modals/hoewerkthet.html'" >Hoe werkt het?</a</li>
              <li><a href="" bs-modal="'./views/modals/over.html'" >Over</a></li>
              <li><a href="#search"> Zoeken</a></li>
              <li><a href="" bs-modal="'./views/modals/vooropvangcentra.html'" >Voor Opvang Centra</a></li>
            </ul>
            
            <ul class="nav pull-right">
              <li><a href="" bs-modal="'./views/modals/login.html'">Login</a></li>
              <li><a href="" bs-modal="'./views/modals/registreren.html'">Registreren</a></li>
            </ul>
          </div>
     
        </div>
      </div>
    </div> 
